<div class="modal fade" id="form-add" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content"> 
            <div class="card">
            </div>
        </div>
    </div>
</div>