<div class="card-body">
    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="py-10 text-center" style="white-space: nowrap;">Форма добавления машины</h4>
    <div class="block-add-form">
    {{ form(form) }}
    </div>
</div>